{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	{% for message in app.flashes('notice') %}
		<div class="flash-notice">
			{{ message }}
		</div>
	{% endfor %}
	<section id="main">
		<div class="dashboard" id="dashboard">
			<div class="row mt-5">

				<div class="col-md-12">
					<div class="card ">
						<h5 class="card-title" style="text-align: center;font-weight: bold;">My Tickets</h5>
						<div class="card-body align-items-center mt-3">

							<div class="form-row mb-3"></div>
							<table class="table" style="margin-top:20px;">
								<thead>
									<tr>
										<th scope="col">Id</th>
										<th scope="col">Status</th>
										<th scope="col">Type</th>
										<th scope="col">Category</th>
										<th scope="col">Title</th>
										<th scope="col">Responsible</th>
										<th scope="col">Description</th>
										<th scope="col">Files</th>
										<th scope="col">Created_date</th>
										<th scope="col">updated_date</th>
										<th scope="col">Priority</th>
										<th scope="col">State</th>
										<th scope="col">Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for ticket in tickets %}

										<tr>
											{% set colorState = ticket.state == 0 ? 'danger' : 'success' %}
											<td scope="row">{{ ticket.id }}</td>
											<td>{{ ticket.status }}</td>
											<td>{{ticket.ticketType.name}}</td>
											<td>{{ticket.category.name}}</td>
											<td>{{ ticket.titre }}</td>
											{% if ticket.responsible is null %}
												<td>
													<span class="badge bg-warning">Not assigned</span>
												</td>
											{% else %}
												<td>{{ ticket.responsible }}</td>
											{% endif %}
											<td>{{ ticket.description }}</td>
											<td>{{ ticket.files }}</td>
											<td>{{ ticket.createddate|date }}</td>
											<td>{{ ticket.updateddate|date }}</td>
											<td>{{ ticket.priority }}</td>
											<td>
												<span class="badge bg-{{colorState}}">{{ ticket.state ? 'Valid' : 'Follow' }}</span>
											</td>
											<td>
												<a href="{{ path('support_assign', {'id': ticket.id}) }}" class="btn btn-primary text-light">Assign</a>
												<a href="{{ path('support_progress', {'ticket': ticket.id}) }}" class="btn btn-info text-light">Mark</a>
												<a href="{{ path('valid_ticket', {'id': ticket.id}) }}" class="btn btn-success text-light">Validate</a>

											</td>
										</tr>

									{% else %}
										<tr>
											<td colspan="7">aucun ticket
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>


						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
{% endblock %}
