{% extends 'support.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
	{% for message in app.flashes('notice') %}
		<div class="flash-notice">
			{{ message }}
		</div>
	{% endfor %}
	<div class="table-responsive">
		<div class="row my-5">
			<div class="">
				<div class="card">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Status</th>
								<th scope="col">Type</th>
								<th scope="col">Category</th>
								<th scope="col">Title</th>
								<th scope="col">Responsible</th>
								<th scope="col">Description</th>
								<th scope="col">Files</th>
								<th scope="col">Created_date</th>
								<th scope="col">updated_date</th>
								<th scope="col">Priority</th>
								<th scope="col">State</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for ticket in tickets %}

								<tr>
									{% set colorState = ticket.state == 0 ? 'danger' : 'success' %}
									{% set colorStatus = ticket.status == "New" ? 'success' : 'danger' %}
									{% set colorPriority = ticket.priority  ==  "very urgent" ? 'danger' : ticket.priority  ==  "urgent" ? 'warning' :   
                                                                                ticket.priority  ==  "primary" ? '#ff6600' :  "success" 
                                    %}
									<td scope="row">{{ ticket.id }}</td>
									<td>
										<span class="badge bg-{{colorStatus}}">{{ ticket.status }}</span>
									</td>
									<td>{{ticket.ticketType.name}}</td>
									<td>{{ticket.category.name}}</td>
									<td>{{ ticket.titre }}</td>
									{% if ticket.responsible is null %}
										<td>
											<span class="badge bg-warning">Not assigned</span>
										</td>
									{% else %}
										<td>{{ ticket.responsible }}</td>
									{% endif %}
									<td>{{ ticket.description }}</td>
									<td>{{ ticket.files }}</td>
									<td>{{ ticket.createddate|date }}</td>
									<td>{{ ticket.updateddate|date }}</td>
									<td>
										<span class="badge bg-{{colorPriority}}">{{ ticket.priority }}</span>
									</td>
									<td>
										<span class="badge bg-{{colorState}}">{{ ticket.state ? 'Valid' : 'Follow' }}</span>
									</td>
									<td>
										<a href="{{ path('support_assign', {'id': ticket.id}) }}" class="btn btn-sm btn-primary text-light">Assign</a>
										<a href="{{ path('support_progress', {'ticket': ticket.id}) }}" class="btn btn-sm btn-info text-light">Mark</a>
										<a href="{{ path('valid_ticket', {'id': ticket.id}) }}" class="btn btn-sm btn-success text-light">Validate</a>

									</td>
								</tr>

							{% else %}
								<tr>
									<td colspan="7">No ticket
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>


				</div>
			</div>
		</div>

	</div>
{% endblock %}
