<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class=" text-white bg-dark">
		<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
			<header class="mb-auto">
				<div>
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						<body>
							<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
								<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Collaborator Space</a>
								<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
								<ul class="navbar-nav px-3">
									<li class="nav-item text-nowrap">
										<a class="btn btn-outline-danger" href="{{ path('app_logout')}}">Sign out</a>
									</li>
								</ul>
							</nav>

							<div class="container-fluid">
								<div class="row">
									<nav class="col-md-2 d-none d-md-block bg-dark sidebar">
										<div class="sidebar-sticky">
											<ul class="nav flex-column">
												<li class="nav-item">
													<a class="nav-link active" aria-current="page" href="{{path('app_homepage')}}">
														<span data-feather="home"></span>
														Dashboard
													</a>
												</li>
												<li class="nav-item">
													<a class="nav-link text-white" href="{{path('myticket')}}">
														<span data-feather="file"></span>
														My Tickets
													</a>
												</li>
												<li class="nav-item">
													<a class="nav-link text-white" href="{{path('messages')}}">
														<span data-feather="shopping-cart"></span>
														Messages
													</a>
												</li>
												<li class="nav-item">
													<a class="nav-link text-white" href="#">
														<span data-feather="users"></span>
														Recently updated
													</a>
												</li>
												<li class="nav-item">
													<a class="nav-link text-white" href="#">
														<span data-feather="bar-chart-2"></span>
														Solved
													</a>
												</li>
												<li class="nav-item">
													<a class="nav-link text-white" href="#">
														<span data-feather="layers"></span>
														closed
													</a>
												</li>
											</ul>

											<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
												<span>Saved reports</span>
												<a class="d-flex align-items-center text-muted" href="#">
													<span data-feather="plus-circle"></span>
												</a>
											</h6>
											<ul class="nav flex-column mb-2">
												<li class="nav-item">
													<a class="nav-link" href="#">
														<span data-feather="file-text"></span>
														Current month
													</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="#">
														<span data-feather="file-text"></span>
														Last quarter
													</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="#">
														<span data-feather="file-text"></span>
														Social engagement
													</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="#">
														<span data-feather="file-text"></span>
														Year-end sale
													</a>
												</li>
											</ul>
										</div>
									</nav>
									<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
										<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
											<h1 class="h2">Dashboard</h1>
											<div class="btn-toolbar mb-2 mb-md-0">
												<div class="btn-group mr-2">
													<button class="btn btn-sm btn-outline-secondary">Share</button>
													<button class="btn btn-sm btn-outline-secondary">Export</button>
												</div>
												<button class="btn btn-sm btn-outline-secondary dropdown-toggle">
													<span data-feather="calendar"></span>
													This week
												</button>
											</div>
										</div>
										<a class="btn btn-success" href="{{path('app_ticket')}}">+ New ticket</a>
									{% else %}
										<h3 class="float-md-start mb-0">Ticketing</h3>
									{% endif %}
									{% for message in app.flashes("message") %}
										<div class="alert alert-success alert-dismissible fade show" role="alert">
											{{message}}
											<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
										</div>
									{% endfor %}
									<nav class="nav nav-masthead justify-content-center float-md-end">
										<div class="text-end">
											{% if is_granted('IS_AUTHENTICATED_FULLY') %}
												{% else %}
													<a class="btn btn-outline-primary me-2" href="{{ path('app_login')}}">Sign-in</a>
													<a class="btn btn-warning" href="{{ path('app_register')}}">Sign-up</a>
											{% endif %}

										</div>
									</nav>
								</div>
							</body>
						</body>
					</body>
				</header>
			</div>
			{% block body %}{% endblock %}
		</body>
	</body>
</html></body></html>
